#form{
  display: flex;
}
.form1{
  margin: 150px;
  
}
.form2{
  margin: 150px;
  
}
#button{
  width: 400px;
  height: 50px;
}
.mb-3{
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
}
